.avatar{
    width: 50px !important;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    margin: 0px;
}

.repotitle{
    font-size: 15px;
    font-weight: bolder;
}
.describe{
    color: rgb(172, 170, 170);
    font-size: 13px;
    font-weight: bolder;
}
.hover:hover{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    cursor: pointer;

}